fastapi
uvicorn
transformers
unsloth
bitsandbytes
accelerate
pydantic 
torch
langchain
langchain_groq
langchain_community
faiss-cpu
pypdf
arxiv
wikipedia
ipykernel
dotenv
duckduckgo-search
langgraph
sentence-transformers
tavily-python